<%- include ('header'); -%>

<div class="conf-head">
<span style="font-size: 30px;">Hello <span style="color: red;"><%-name-%></span><%-y-%></span> 



</div>

<div class="conf-box">

<div class="conf-info">
    <form action="/confirmed" method="post">
<h3><span style="color:blueviolet ;"> Your Information </span></h3>
<h5> Name : <%-name-%></h5>
<h5> email :<%-email-%></h5>
<h5> Phone :<%-phone-%></h5>



</div>

<div class="conf-info">

<h3 ><span style="color:blueviolet ;">Your Shipping address</span></h3>
<textarea class="address" placeholder="enter your delivery address " name="address"></textarea>
<div><button class="plc" type="submit">place Order</button></div>
</form>
</div>
</div>














<%- include ('footer'); -%>